@charset "ISO-8859-1";



li {
	list-style: none;
}

#nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#tests ul {
	display: flex;
	flex-direction: row;
}
