@charset "ISO-8859-1";



li {
	list-style: none;
}

#nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#tests {
	display: grid;
	grid-template-columns: 1fr, 1fr;
	grid-template-rows: 1fr;
}

#tests #test1 {
	grid-area: 1 / 1 / 2 / 2;
}

#tests #test2 {
	grid-area: 2 / 1 / 3 / 2;
}